# Binaries
*.o
*.so
*/*.o
*/*/*.o
*.a
*.framework
*.exe
*.dll
*.pdb
build/
CMakeLists.txt.user
cmake_install.cmake
*.orig
*.cbp
*.dsw
*.vsxproj
*.vsproj
*.sln
*.apk
*.bin

android/libs/*
android/obj
android/bin
android/gen

# Private info
android/local.properties

# Generated
android/assets/extras.pak

